!!!5
%head
  %script{:type => "text/javascript", :src  => "jquery-1.9.1.js"}
  %script{:type => "text/javascript", :src  => "openlayers/OpenLayers.js"}
  :css
    #map {
      width:600px;
      height:900px;
    }

%body
  #map
  %script{:type => "text/javascript", :src  => "my_click.js"}
